@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600&display=swap');

body {
  font-family: 'Manrope', sans-serif;

}

p {
  color: grey;

}


.container {
  margin: 3em;
}

header .nav {
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  display: inline;
  list-style: none;
  padding-left: 1.5em;
}

.nav ul li a {
  text-decoration: none;
  color: grey;
}

.hamburger {
  display: none;
}

.sub-btn {
  border-radius: 5px;
  padding: 1em;
  font-weight: 600;
  border: none;
  font-size: 15px;
  background-color: orange;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  margin-top: 5em;

}

.main img {
  max-width: 40%;
  height: auto;
}

.main h1 {
  font-weight: 600;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author img {
  width: auto;
  height: 4em;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.author .name {
  padding-left: 10px;
  margin: 0;
  font-weight: 800;

}

.author .title {
  padding-left: 10px;
  margin: 0;
  font-weight: 300;
}

.blog-feed {
  /* display: grid;
  grid-template: 1; */
  display: flex;
  justify-content: space-evenly;
}

.blogpost {
  padding: 5em 1em;
  
}

.blogpost .author img {
  width: auto;
  height: 4em;
}

.blogpost img {
  max-width: 80%;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 776px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: inline;
  }
  
  .main {
    flex-direction: column;
  }

  .main img {
    max-width: 80%;
    height: auto;
  }

  .author img {
    width: 11%;
    height: auto;
  }
  
  .blog-feed {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blogpost {
    padding: 1.5em 0;
  }

  footer {
    flex-direction: column;
    padding-top: 2em;
  }

  footer img {
    width: 20%;
    height: auto;
  }
}