@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  margin: 3em;
}

header .nav {
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  display: inline;
  list-style: none;

}

.nav ul li a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.main img {
  max-width: 40%;
  height: auto;
}

.main h1 {
  font-weight: 600;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author img {
  width: auto;
  height: 4em;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.author .name {
  padding-left: 10px;
  margin: 0;
  font-weight: 800;

}

.author .title {
  padding-left: 10px;
  margin: 0;
  font-weight: 300;
}

.main .blog-feed {
  display: grid;
  grid-template: 3, 3, 3;
}

.blogpost .author img {
  width: auto;
  height: 4em;
}

.blogpost img {
  width: auto;
  height: 80%;
}